html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
}

section {
  text-align: center;
}

nav.navbar-light .navbar-brand{
  color: #ff4c68;

}

nav.navbar-light .navbar-brand:hover {
  color: #ff4c40;
}

#header {
  padding-top: 0;
  padding-bottom: 15px;
  text-align: center;
  color: #ff4c68;
}

nav.navbar {
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: #ff4c68;
  text-align: right;
}



a.navbar-brand {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'PT Serif', serif;
  color: #ff4c68;
  padding: 0;
}


.nav-item {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.5rem;
}

ul a.nav-link {
  color: #ff4c68;
}

.slides {
  width: 90%;
  margin: auto;
}

.carousel-inner {
  padding-top: 30px;
}

.carousel-item img {
  height: 400px;

}

#about {
  color: #ff4c68;
  padding-top: 0;
  padding-bottom: 35px;
  text-align: center;
  background-color: white;
}

.pros h1 {
  padding-top: 70px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 3.4rem;
}

.pros h3 {
  padding-bottom: 50px;
  font-size: 2rem;
}

div.row {
  width: 80%;
  text-align: center;
  margin: auto;
}

.pros-div {
  padding: 3%;
  padding-bottom: 4%;
  width: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  padding-bottom: 13px;

}

#social {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #ff4c68;
  color: #fff;
  line-height: 3;
}

.social-icon {
  width: 100px;
  height: 100px;
  margin: 60px;
}

#stores {
  padding-bottom: 50px;
  background-color: #fff;
  color: #ff4c68;
}

#stores h3 {
  padding-top: 60px;
  font-size: 3rem;
  padding-bottom: 20px;
}

#stores p {
  font-size: 1.6rem;
}

.storeMap {
  margin: auto;
  padding-top: 60px;
}

.colLeft {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.colRight {
  text-align: left;
  padding-left: 40px;
}

footer {
  background-color: #323232;
  color: #ffdee6;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 3px;
  padding-left: 30px;
}

.footer-col {
  text-align: left;
  list-style: none;
}

footer p {
  font-size: 0.9rem;
  margin: 0;
}


@media (min-width: 300px) and (max-width: 482px) {

  body {
    width: 100%;
  }

  #header {
    text-align: left;
    width: 100%;
  }

  nav.navbar {
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    text-align: right;
    }

  .slides {
    width: 100%;
    margin: auto;
  }

  .carousel-inner {
    padding-top: 20px;
  }

  .carousel-item img {
    height: 250px;
    width: 100%;
  }

  #about {
    text-align: center;
    margin: auto;
    width: 90%;
  }

  #social {
    padding-top: 80px;
    padding-bottom: 60px;
    line-height: 2.5;
    text-align: center;
    }

  #stores {
    padding-bottom: 40px;
    text-align: center;
    margin: auto;
    }

  #stores h2{
    font-size: 1.5rem;
  }



  div.row {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .colLeft {
    text-align: center;
  }

  .colRight {
    text-align: center;

  }

  #footer p {
    padding-top: 10px;
  }

  .footer-col {
    text-align: center;

  }
}
